CONSOLE_BIND=127.0.0.1
CONSOLE_PORT=8443
CONSOLE_ALLOWED_HOSTS=localhost:8443,127.0.0.1:8443
CONSOLE_ALLOWED_NETWORKS=127.0.0.0/8,192.168.0.0/16,10.0.0.0/8,172.16.0.0/12
CONSOLE_DISPLAY_HOST=localhost
CONSOLE_USERNAME=admin
